.iki-body {
	color: #fffbfb;
	margin: 0;
	padding: 0;
	font: 13px/1.231 arial,helvetica,clean,sans-serif;
	font-family: 'Roboto', 'Noto Sans JP', 'Poppins', sans-serif;
}

/* === 色変更 === */
.kaeri-col-base {line-height: 37px;font-size: 1em; text-align:left; color:white;}
.kaeri-col-base .kaeri-col {background:#cbd8f969;}
.kaeri-station .elmStopSta .station {background: #6a6b60bf;}
.elmStopSta .current .station {background: #aaff819e;}
.elmStopSta .iki-col1 .station {background:#84ebffad;}
.elmStopSta .iki-col2 .station {background:#ffb2b2;}
.elmStopSta .kaeri-col .station {background:#ffffffcf;}
.estimatedTime, .txtTrainInfo {color: #02ff00;}
.kaeri-station .elmStopSta .station .title {color: #000;}
.kaeri-station .elmStopSta .kaeri-stop-col .title {color: #C0C0C0;}
.kaeri-station .elmStopSta .kaeri-stop-col .time {color: #C0C0C0;}

/* === 駅名タイトル === */
.labelLarge .title {
	display: inline;
	padding-right: 8px;
	color: #dd93c3;
	font-size: 168%;
	font-weight: bold;
	line-height: 31px;
	vertical-align: top;
}

/* === 関連付けコード: 以下のセレクタを使用 === */
.mainWrp dl,
.mainWrp dt,
.mainWrp dd,
.mainWrp ul,
.mainWrp ol,
.mainWrp li,
.mainWrp h1,
.mainWrp h2,
.mainWrp h3,
.mainWrp h4,
.mainWrp h5,
.mainWrp h6,
.mainWrp pre,
.mainWrp form,
.mainWrp input,
.mainWrp p,
.mainWrp blockquote,
.mainWrp fieldset,
.mainWrp div {
	margin: 0;
	padding: 0;
}
/* === 関連付けコード終了 === */

/* === 関連付けコード: h1, h2, h3, h4, h5, h6 を指定 === */
.mainWrp h1,  
.mainWrp h3, 
.mainWrp h4, 
.mainWrp h5, 
.mainWrp h6 {
	font-size: 100%;
	font-weight: normal;
}
/* === 関連付けコード終了 === */

.iki-zyoho {
	text-align: center;
	align-items: center;
	color: black;
	font-size: 1.5em;
	font-family: 'Roboto';
}

.iki-zyoho p {
	align-items: center;
	color: #FFF;
	padding: 20px 0px;
	border-radius: 5px;
	font-family: 'Roboto';
}

.iki-zyoho .logo {
	width: 20%; /* 画像の幅を固定のピクセル値で指定 */
	height: auto; /* 高さは自動調整 */
	margin-top: 10px; /* 適切なマージンを設定 */
}


/* === 各駅の文字サイズ === */
.elmStopSta .station .title {
	/*width: 295px;*/
	font-size: 138.5%;
	font-weight: bold;
	line-height: 1.4;
}

/* === 各駅の文字位置 === */
.elmStopSta .station .time, .elmStopSta .station .title, .elmStopSta .station .relLink {
	color: #000;
	display: table-cell;
	/*display: inline;*/
	vertical-align: middle;
	/*zoom: 1;*/
}

.labelLarge {
display: block;
margin-bottom: 10px;
border-bottom: 5px solid #266b3e;
position: relative;
text-align: center;
}

/* 駅カナ */
.staKana {
display: block;
color: #dd93c3;
line-height: 1.1;
}

.elmStopSta .station .time {
	width: 75px;
	font-weight: bold;
	text-align: center;
}

.elmStopSta .station .time, .elmStopSta .station .title, .elmStopSta .station .relLink {
	padding: 5px;
	display: table-cell;
}

/* === station Element === */
/* === display 文字位置 width 輪郭サイズ 上on文字と輪郭左寄せ 下on 文字のみ左寄せ === */
.elmStopSta .station {
	display: table;
	width: 100%;
	background: #ffffffcf;
}

.labelMedium {
display: block;
min-height: 30px;
margin-bottom: 10px;
padding-right: 10px;
background: #79957a;
border-left: 5px solid #3ca863;
position: relative;
}

/* === 電車に乗ってる間の時間 === */
.elmStopSta .estimatedTime {
	width: 85px;
	padding: 10px;
	border-right: 6px solid #02ff00; /* 各駅の縦線 */
	text-align: center;
}

/* === なぞの○や●を消す === */
ul li, ol li {
	list-style: none;
}

.boxNote {
	padding: 0 10px;
	background: #eee;
	color: #666;
	overflow: hidden;
}

.navBack {
	margin: 20px auto;
	font-size: 108%;
	text-align: center;
}

#mdDiaStopSta .boxNote dl {margin-bottom: 10px;}
.boxNote dl {margin-top: -1px; overflow: hidden;}
.boxNote dt {
	margin-bottom: 3px;
	padding-top: 10px;
	border-top: 1px solid #ccc;
	font-weight: bold;
}
#mdDiaStopSta .boxNote dd {margin-bottom: 0;}
.boxNote dd {font-size: 85%;}

/* ------生き返りで使用中------ */