/* ©2023 REIWA SAKURA KOUTOU GAKUIN */
/* ©2023 令和さくら高等学院 */
/* Access to https://www.reiwa-sakura.net/ */
/* がくいんちょう: のだ (teacher) */
/* Main Programmer: Aoyama */
/* Check: Akita (teacher),hutamura (teacher), hashimoto */
/* Thank you to everyone who helped us. */
/* 共通 */
body {
	font-family: 'Zen Maru Gothic', sans-serif;
	margin: 0;
	padding: 0;
	font-size: 18px;
}
button {
	margin: 10px;
	padding: 15px 20px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	transition: background-color 0.3s ease;
	font-size: 24px;
}
.main-menu-content {
	display: flex;
	align-items: center;
}
.main-menu-title {
	flex: 0.9;
}
.menu-linkbutton {
	margin-top: 10px;
	padding: 0px 10px;
	display: inline-block;
	border-radius: 20px;
}
.dropdown-list {
	font-size: 30px;
	padding: 8px;
	border-radius: 8px;
	height: 2.4em;
}
.dropdown-list select:focus {
	outline: none;
}
.main-error-display {
	font-weight: bold;
	font-size: 1.2em;
	text-align: center;
	margin-top: 20px;
}
/* スライド式スイッチのスタイリング */
.switch {
	position: relative;
	display: inline-block;
	width: 60px;	
	height: 34px;
}
.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	-webkit-transition: .4s;
	transition: .4s;
}
.slider:before {
	position: absolute;
	content: "";
	height: 26px;
	width: 26px;
	left: 4px;
	bottom: 4px;
	background-color: white;
	-webkit-transition: .4s;
	transition: .4s;
}
input:checked + .slider {
	background-color: #2196F3;
}
input:checked + .slider:before {
	-webkit-transform: translateX(26px);
	-ms-transform: translateX(26px);
	transform: translateX(26px);
}  
/* メイン */
.menu-copyright {
	font-size: 14px;
	position: fixed;
	top: 0;
	padding: 5px;
}
.menu-button {
	border-radius: 20px;
	padding: 0 15px;
	text-align: center;
	align-items: center;
}
/* でんしゃ */
.iki-container {
	font-family: Arial, sans-serif;
	max-width: 100%;
	padding: 20px;
}
.iki-container .titlemozi {
	position: sticky;
	text-align: center;
	padding-top: 14px;
	top: 0%;
	z-index: 999;
}
.iki-container .results {
	padding: 20px;
	list-style: none;
}
.iki-container .results .train {
	display: flex;
	align-items: center;
	border-radius: 5px;
}
.iki-container .results .train .train-time {
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0 20px;
	padding: 5px;
}
.iki-container .results .train .train-time::before {
	content: '';
	height: 100%;
	position: absolute;
	left: -10px;
}
.iki-container .results .train .station-name {
	font-weight: bold;
	flex-grow: 1;
	text-align: left;
	padding: 5px;
}
.iki-container .results .travel-time {
	width: 85px;
	padding: 15px;
	text-align: center;
}
/* べんきょのにもつ */
.osirase-nimotu .osirase-nimotu-custom {text-align: center;}
.osirase-nimotu h1 {text-align: center;}
.osirase-nimotu .osirase-nimotu-custom label {font-size: 25px;}
.osirase-nimotu select:hover {font-weight: bold;}
.osirase-nimotu .osirase-nimotu-hontai ul {
	font-family: 'メイリオ', sans-serif;
	max-width: 90%;
	margin: 10px auto;
	border-radius: 8px;
	padding: 20px;
}
.osirase-nimotu li {
	display: table-cell;
	list-style: none;
	margin-left: 0px;
	font-size: 1.3em;
}
.osirase-nimotu .osirase-nimotu-hontai .osirase-nimotu-stack {
	position: sticky;
	top: 0;
	left: 0%;
	z-index: 999;
}
.osirase-nimotu #osirase-nimotu-loading {
	text-align: center;
	font-size: 2em;
}

/* めいんにもつ */
.nimotu-container {
	font-family: sans-serif;
	margin: 10px auto;
	border-radius: 8px;
	padding: 20px;
	max-width: 90%;
}
@media (max-width: 480px) {
	.nimotu-container {padding: 10px;}
}
@media screen and (max-width: 767px) {
	.nimotu-container {padding: 10px;}
}
.nimotu-titleh1 {text-align: center;}
.nimotu-ul {
	list-style-type: none;
	padding: 0;
}
.nimotu-li {margin: 20px 0;}
.nimotu-item-box {margin-bottom: 20px;}
.nimotu-note {font-weight: bold;}
.nimotu-note h1 {text-align: center;}
.nimotu-note p {text-align: left;}
.nimotu-item-title {font-weight: bold;}
.nimotu-item-description {font-weight: bold;}
.nimotu-item-box input[type="checkbox"] {display: none;}
.nimotu-item-box label {
	padding: 10px 20px;
	cursor: pointer;
	display: block;
	border-radius: 8px;
	margin-right: 5px;
}
/* ぜんたいこーてー */
.zentaikoutei #zentaikoutei-title {
	position: sticky;
	top: 0;
	text-align: center;
	align-items: center;
	font-size: 170%;
	padding: 10px;
}
.zentaikoutei #zentaikoutei-title-comment {
	font-size: 1.3em;
	border-radius: 8px;
	padding: 20px;
}
.zentaikoutei .zentaikoutei-main {
	text-align: center;
	align-items: center;
}
.zentaikoutei-content div {
	max-width: 90%;
	margin: 10px auto;
	border-radius: 8px;
	padding: 20px;
	font-family: 'Zen Maru Gothic', sans-serif;
}
.zentaikoutei-content div[data-timeslot] h2 {
	position: sticky;
	top: 12.4%;
}
/* せつめーるーる */
.setumei-body {
	margin: 0;
	display: flex;
	flex-direction: column;
}
.setumei-body img {
	max-width: 100%;
	height: auto;
}
/* おしらせ */
.osirase-content div {
	max-width: 90%;
	margin: 10px auto;
	border-radius: 8px;
	padding: 20px;
}
.osirase-sousapanel {
	padding: 2px;
	text-align: center;
	position: sticky;
	top: 0;
	padding-top: 3px;
}
.osirase-sousapanel #toggleContainer,.osirase-saiyomikomi {
	display: inline-block;
	padding: 2px 12px;
	border-radius: 10px;
	text-align: center;
	font-weight: bold;
	line-height: 40px;
	cursor: pointer;
}
.osirase-sousapanel #toggleButton {display: none;}
@media (min-width: 768px) {
	/* PC用スタイル */
	body {
		font-size: 20px;
	}

	button {
		padding: 20px 30px;
		margin: 15px;
	}
}
@media (max-width: 767px) {
	/* 共通 */
	body {
		font-size: 16px;
	}
	button {
		margin: 5px;
		padding: 10px 10px;
		font-size: 20px;
	}
	.dropdown-list {
		font-size: 21px;
	}
	h1{font-size:1.5em;margin: 0em;}
	h2{font-size:1.17em;margin: 0em;}
	h3{font-size:1.17em;margin: 0em;} 
	p{font-size:1em;margin: 0em;} 
	h4{font-size:1em;margin: 0em;}
	h5{font-size:0.83em;margin: 0em;}
	h6{font-size:0.67em;margin: 0em;}
	/* メイン */
	.menu-copyright {
		font-size: 11px;
		padding: 3px;
	}
	.menu-button {
		padding: 0 10px;
	}
	/* でんしゃ */
	.iki-container .results .travel-time {
		padding: 10px;
	}
	/* べんきょのにもつ */
	.osirase-nimotu .osirase-nimotu-hontai ul {
		max-width: 600px;
	}
	/* めいんにもつ */
	.nimotu-container {
		max-width: 600px;
	}
	.nimotu-li {margin: 40px 0;}
	.nimotu-item-box {margin-bottom: 10px;}
	.nimotu-item-box label {
		padding: 5px 10px;
	}
	/* ぜんたいこーてー */
	.zentaikoutei-custom-button {
		padding: 10px 20px;
	}
	.zentaikoutei-content div {
		max-width: 600px;
	}
	/* せつめーるーる */
	/* おしらせ */
}
